body {
    margin: 0;
    background-color: rgb(217, 233, 255);
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(17, 27, 119);
}

#nav li {
    float: right;
}

li a, .dropmenu {
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 16pt;
    padding: 25px 40px;
    text-decoration: none;
}

li a:hover, .dropdown:hover {
    background-color: rgb(38, 52, 180);
}

.dropdown {
    display: inline-block;
}

.dropmenu-content {
    display: none;
    position: absolute;
    background-color: rgb(218, 218, 218);
    min-width: 10%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropmenu-content a {
    color: black;
    font-size: 12pt;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropmenu-content a:hover {
    background-color: rgb(214, 212, 212);
}
.dropmenu-content a:active {
    background-color: rgb(206, 203, 203);
}

.dropdown:hover .dropmenu-content {
    display:block;
}

#cart:active {
    color: rgb(148, 166, 248);
}

#logo {
    position: absolute;
    /*bottom: 92.5%;*/
    top: 2%;
}

#searchbar {
    position: absolute;
    left: 30%;
    top: 20%;
}
#searchquery {
    position: absolute;
    width: 400%;
}

#top-bar {
    position: relative;
    top: 0px;
}

h1, h2 {
    text-align: center;
}
h3 {
  margin-left: 1%;
}
#account-welcome {
  text-align: left;
  margin-left: 1.5%;
}

table {
  width: 60%;
}

td, th {
  height: 5%;
  padding: 2%;
  text-align: center;
}

#delete_button {
  background-color: #c00000;
}
#cancel_button {
  background-color: #888888;
  color: #333333;
}
#toggle_delete {
  background-color: #888888;
  color: #333333;
}

#balance {
  text-align: center;
}
#balance-in {
  position: relative;
  left: 42%;
}
/* Bordered form */

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

.item-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

/* style for search results page */
.search-results {
  margin-left: 100px;
  margin-right: 100px;
}

/* Style for item page */
.product-info {
  font-size: 17px;
  width: 30%;
  border-bottom: 1px solid #5e5e5e;
  margin-bottom: 30px;
  padding-left: 15px;
  margin-left: 100px;
}

.product-info2 {
  font-size: 17px;
  width: 40%;
  margin-bottom: 30px;
  padding-left: 15px;
  margin-left: 100px;
}

.product-sellers {
  font-size: 17px;
  margin-bottom: 50px;
  border-bottom: 1px solid #5e5e5e;
  margin-left: 100px;
  margin-right: 100px;
  overflow-x: auto;
}

.product-reviews {
  font-size: 17px;
  margin-bottom: 50px;
  padding-left: 15px;
  float: left;
  width: 30%;
  margin-left: 100px;
  margin-right: 100px;
}

.sellers-table, td {
  min-width: 125px;
  max-width: 400px;
}

.inner-table {
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}

.inner-table-review {
  border-bottom: 1px solid #000000;
}

.itr {
    min-width: 490px;
}

