<!DOCTYPE html>
<html lang="en">
<head>
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/main.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename = 'img/icons/favicon-32x32.png') }}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename = 'img/icons/favicon-16x16.png') }}" sizes="16x16" />

    <meta name = "author" content = "Olivia Leggio">

    {% block head %}{% endblock %}
</head>
<body>
    {% if type in ['ADMIN'] %}
    <div id = "top-bar">
        <ul id = "nav">
            <li><a href = "/cart" id = "cart">Cart</a></li>
            <li class = "dropdown">
                <a href = "javascript:void(0)" class = "dropmenu">Hi, {{ name }}</a>
                <div class = "dropmenu-content">
                    <a href = "/account">account</a>
                    <a href = "/wallet">balance</a>
                    <a href = "/history">order history</a>
                    <a href = "/browse">Browse Items</a>
                    <a href = "/logout">Log Out</a>
                </div>
            </li>
            <li><a href = "/test">Admin Page</a></li>
        </ul>
        <a href = "/">
            <img src = "{{ url_for('static', filename = 'img/logo1.png') }}" width = "68" height = "68" id = "logo">
        </a>
        <form id = "searchbar" action = "/search-results">
            <input id = "searchtext" type = "text" name = "searchtext">
        </form>
    </div>
    {% elif type in ['User', 'Seller', 'Manager'] %}
    <div id = "top-bar">
        <ul id = "nav">
            <li><a href = "/cart" id = "cart">Cart</a></li>
            <li class = "dropdown">
                <a href = "javascript:void(0)" class = "dropmenu">Hi, {{ name }}</a>
                <div class = "dropmenu-content">
                    <a href = "/account">account</a>
                    <a href = "/wallet">balance</a>
                    <a href = "/history">order history</a>
                    <a href = "/browse">Browse Items</a>
                    {% if type == 'Manager' %}
                        <a href = "/warehouse">Warehouse Manager</a>
                    {% endif %}
                    {% if type == 'Seller' %}
                        <a href = "/seller">Seller</a>
                    {% endif %}
                    <a href = "/logout">Log Out</a>
                </div>
            </li>
        </ul>
        <a href = "/">
            <img src = "{{ url_for('static', filename = 'img/logo1.png') }}" width = "68" height = "68" id = "logo">
        </a>
        <form id = "searchbar" action = "/search-results">
            <input id = "searchtext" type = "text" name = "searchtext">
        </form>
    </div>

    {% else %}
    <div id = "top-bar">
        <ul id = "nav">
            <li><a href = "/cart" id = "cart">Cart</a></li>
            <li class = "dropdown">
                <a href = "/login" class = "dropmenu">Sign In</a>
            </li>
        </ul>
        <a href = "/">
            <img src = "{{ url_for('static', filename = 'img/logo1.png') }}" width = "68" height = "68" id = "logo">
        </a>
        <form id = "searchbar" action = "/search-results">
            <select name="search-cats" id="search-cats">
                <option value = "ALL"> All </option>
                {% for category in categories %}
                <option value = {{category.name}} > {{ category.name }} </option>
                {% endfor %}
            </select>
            <input id = "searchtext" type = "text" name = "searchtext">
        </form>
    </div>

    {% endif %}
    {% block body %}{% endblock %}
</body>
</html>
