{% extends 'base.html' %}

{% block head %}
<title>Mini Amazon</title>
{% endblock %}

{% block body %}
<h3> You are {{ me.name }} </h3>
<h2>Browse By Category<h2>
<form action="/browse" >
  <select name="cat" id="cat">
    <option value = "ALL"> All </option>
    {% for cat in cats %}
    <option value = {{ cat.name }} > {{ cat.name }} </option>
    {% endfor %}
  </select>
  <input type="submit" />
</form>

<h3>Items</h3>
<table>
  <thead>
    <th>Name</th>
    <th>Brand</th>
    <th>Description</th>
  </thead>
  <tbody>
  {% for item in items %}
    <tr>
      <td> <img src = "{{ url_for('static', filename = item.imgurl ) }}" width = "68" height = "68"> </td>
      <td> 
          <form action="/item">
          <button type="submit" name="item_id" value= {{item.id}}>{{ item.name|truncate(50) }}</button>
          </form>
      </td>
      <td> {{ item.brand }}</td>
      <td> {{ item.desc |truncate(100)}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<br /><br />

<h2>Add an Item<h2>
<form action="/add_item" >
  <label>Item Name</label><br />
  <input type="text" name="name" />
  <br />
  <br />

  <label>Brand</label><br />
  <input type="text" name="brand" />
  <br/>
  <br />

  <label>Description</label><br/>
  <input type="text" name="desc" />
  <br />
  <br />

  <label>Primary Category</label><br />
  <select name="cat" id="cat">
    {% for cat in cats %}
    <option value = {{ cat.name }} > {{ cat.name }} </option>
    {% endfor %}
  </select>
  <br />
  <br />

  <input type="submit" />
</form>

{% endblock %}
