{% extends 'base.html' %}

{% block head %}
<title>Cart</title>

<meta name = "author" content = "Olivia Leggio">


<style>
    #checkouts {
        display: block;
    }
    #deletes {
        display: none;
    }
</style>

{% endblock %}

{% block body %}
<div id = "checkouts">
    {% if num > 0 %}
    <h3>Cart</h3>
    <form id = "cart-checkout" action = "/checkout" method = "POST">
        <table #cart>
            <tr>
                <th>       </th>
                <th>Item</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Est. Delivery Time</th>
            </tr>
            <tbody>
            {% for item in items %}
                <tr>
                    <td><input type = "checkbox" name = "cartItem" value = "{{ item.id }}"></td>
                    <td>
                        <form action="/item">
                        <button type="submit" name="item_id" value= {{item.item_id}}>{{ item.name|truncate(50) }}</button>
                        </form>
                    </td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.amount }}</td>
                    <td>
                      {%- if item.city==me.city -%}
                      1 days
                      {%- elif item.state==me.state -%}
                      2 days
                      {%- elif regions[item.state]==regions[me.state] -%}
                      4 days
                      {%- elif (regions[item.state] - regions[me.state] < 3) and (regions[me.state] - regions[item.state] < 3) -%}
                      7 days
                      {%- else -%}
                      10 days
                      {%- endif -%}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
    <button id = "checkout_button" type = "submit" form = "cart-checkout">checkout</button>
    <button id = "toggle_delete" onclick = "toggleDelete()">remove items</button>
    {% else %}
    <h3>Your cart is empty!</h3>
    {% endif %}
</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
  {% for msg in messages %}
    <p style="color:red">{{msg}}</p>
  {% endfor %}
{% endif %}
{% endwith %}
<!---------------------------------------------------------------------------------------------------------------->
<div id = "deletes">
<h3>Delete items from cart</h3>
    <form id = "cart-delete" action = "/delete-cart" method = "POST">
        <table #cart>
            <tr>
                <th>       </th>
                <th>Item</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            <tbody>
            {% for item2 in items2 %}
                <tr>
                    <td><input type = "checkbox" name = "deleteId" value = "{{ item2.id }}"></td>
                    <td>{{ item2.name }}</td>
                    <td>{{ item2.price }}</td>
                    <td>{{ item2.amount }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
    <button id = "cancel_button" onClick = "cancelDelete()">cancel</button>
    <button id = "delete_button" type = "submit" form = "cart-delete">delete items</button>
</div>

<script>
    function cancelDelete() {
        document.getElementById("deletes").style.display = "none";
        document.getElementById("checkouts").style.display = "block";
    }

    function toggleDelete() {
        document.getElementById("deletes").style.display = "block";
        document.getElementById("checkouts").style.display = "none";
    }
</script>
{% endblock %}
