{% extends 'base.html' %}

{% block head %}
<title>Cart</title>

<meta name = "author" content = "Olivia Leggio">

{% endblock %}

{% block body %}
<h3>Cart</h3>
<table #cart>
    <tr>
        <th>Picture</th>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>
    <tbody>
    {% for item in items %}
        <tr>
            <td>{{ item.img }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.amount }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}