{% extends 'base.html' %}

{% block head %}
<title>Mini Amazon</title>
{% endblock %}

{% block body %}
<h3>Items</h3>
<table>
  <thead>
    <th>Name</th>
    <th>Brand</th>
    <th>Color</th>
    <th>Size</th>
  </thead>
  <tbody>
  {% for item in items %}
    <tr>
      <td> {{ item.name }}</td>
      <td> {{ item.brand }}</td>
      <td> {{ item.color }}</td>
      <td> {{ item.size }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<h3>InCategory</h3>
<table>
  <thead>
    <th>Item</th>
    <th>Category</th>
  </thead>
  <tbody>
  {% for cat in cats %}
    <tr>
      <td> {{ cat.item.name }}</td>
      <td> {{ cat.category.name }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>


<br /><br />

<h2>Add an Item<h2>
<form action="/add_item" >
  <label>Item Name</label><br />
  <input type="text" name="name" />
  <br />
  <br />

  <label>Model</label><br />
  <input type="text" name="brand" />
  <br/>
  <br />

  <label>Color</label><br />
  <input type="text" name="color" />
  <br />
  <br />

  <label>Size</label><br />
  <input type="number" name="size" />
  <br />
  <br />

  <input type="submit" />
</form>

{% endblock %}
