{% extends 'base.html' %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col">

            <h1>Forgot Password</h1>
            <hr>

            <form action="/forgotpassword" method="POST">
                <h3> Enter your email below and we will send you an email with your password!</h3>

                <div class="form-group">
                    <label>Email</label>
                    <input required type="text" class="form-control" id="email" name="email" placeholder="Enter your email">
                </div>

                <input class="btn btn-default" type="submit" value="Find password" style="background-color:limegreen;">
                {% if feedback %}
                <p class="text-danger float-right">{{ feedback }}</p>
                {% endif %}
                <a href = "/login"> <input class="btn btn-default" type='button' value="Login Page"></a>
                <a href = "/signup"> <input class="btn btn-default" type='button' value="Signup Page"></a>


            </form>
            {% if error %}
            <p class="error" style="color:red"><strong>Error:</strong> {{ error }}
            {% endif %}

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                        <p style="color:green">{{msg}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}

        </div>
    </div>
</div>
{% endblock %}