{% extends 'base.html' %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col">

            <h1>Forgot Password</h1>
            <hr>

            <form action="/forgotpassword" method="POST">
                <h3> Enter your email below and we will send you an email with your password!</h3>

                <div class="form-group">
                    <label>Email</label>
                    <input required type="text" class="form-control" id="email" name="email" placeholder="Enter your email">
                </div>

                <input class="btn btn-default" type="submit" value="Find password">
                {% if feedback %}
                <p class="text-danger float-right">{{ feedback }}</p>
                {% endif %}

            </form>
            {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}
          {% endif %}
        </div>
    </div>
</div>
{% endblock %}