{% extends 'base.html' %}

{% block head %}
<title>Mini Amazon</title>
{% endblock %}

{% block body %}

{% with messages = get_flashed_messages() %}
{% if messages %}
  {% for msg in messages %}
    <p style="color: green;">{{msg}}</p>
  {% endfor %}
{% endif %}
{% endwith %}

<h1>Recommended Items</h1>

<div>
  <table>
    <thead>
      <th>  </th>
      <th>Name</th>
      <th>Brand</th>
      <th>Category</th>
      <th>Price</th>
      <th>Average Rating</th>
    </thead>
    <tbody>
    {% for rev in toprevs %}
      <tr>
        <td>
          <img src = "{{ url_for('static', filename = rev.item.imgurl ) }}" width = "68" height = "68">

        </td>
        <td>
            <form action="/item">
                <button type="submit" name="item_id" value= {{rev.item.id}}>{{ rev.item.name|truncate(50) }}</button>
            </form>
        </td>
        <td> {{ rev.item.brand }}</td>
        <td> {{ rev.item.categories[0].cat.name }}</td>
        <td> ${{ rev.item.listings[0].price }} </td>
        <td>
          {% set ftotal= {'sum': 0,'count': 0} %}
          {%- for r in allrevs if r.item_id==rev.item_id -%}
          {% if ftotal.update({'sum': ftotal.sum + r.item_rating,'count': ftotal.count + 1 }) %}{% endif %}
          {%- endfor -%}
          {{ftotal.sum / ftotal.count}}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
