{% extends 'base.html' %}

{% block head %}
<title>Item Result</title>
{% endblock %}

{% block body %}
<h1> {{ items.name }} </h1>

<!--<img src= "{{ items.imgurl }}" alt=" {{ items.name }}">-->

<div class = "product-info">   
    <h4> in {{ cats.cat.name }} </h4>
    <p> Average rating: <p>
    <p> Average price </p>
</div>

<div class = "product-info2">
    <p><b>Brand</b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{{ items.brand }}<p>
    <p><b>Color</b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{ items.color }}<p>
</div>
<div class = "product-info">    
    <h4> About this item </h4>
    <p> {{ items.desc }}</p>
</div>

<div class = "product-sellers">
    <h2> Sellers </h2>

</div>

<h2> Reviews </h2>
<div class="add-review">

</div>

<div class = "product-reviews">

</div>


{% endblock %}