{% extends 'base.html' %}

{% block head %}
<title>Item Result</title>
{% endblock %}

{% block body %}
<h1> {{ items.name }} </h1>

<!--<img src= "{{ items.imgurl }}" alt=" {{ items.name }}">-->
<div class="item-left-column">
     <!--Product Description 
      
        {% for cats in categories %}
        {% endfor %}-->
    <h4> in {{ cats }} </h4>
    <div class="product-description">
      <h4>Description</h4>
      <p> {{ items.desc }}</p>
    </div>

</div>

<table>
    <thead>
        <th>Name</th>
        <th>Brand</th>
        <th>Description</th>
    </thead>
    <tbody>
        <tr>
            <td>  </td>
            <td> {{ items.brand }}</td>
            <td> {{ items.desc }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}