{% extends 'base.html' %}

{% block head %}
<title>Item Result</title>
{% endblock %}

{% block body %}
<h1> {{ items.name }} </h1>

<img src= "{{ items.imgurl }}" alt=" {{ items.name|truncate(30) }}">

<div class = "product-info">   
    <h4> in {{ cats.cat.name }} </h4>
    <p> Average rating: {{ avg_r }} out of 5 stars<p>
    <p> Average price: ${{ avg_p }}</p>
</div>

<div class = "product-info2">
    <p><b>Brand</b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{{ items.brand }}<p>
</div>
<div class = "product-info">    
    <h4> About this item </h4>
    <p> {{ items.desc }}</p>
</div>

<h2> Sellers </h2>
<div class = "product-sellers">
    <table class = "sellers-table">
        <tbody>
            <tr>
               {% for l in sellers %} 
                <td> 
                    <table class = "inner-table">
                        <tr> 
                            <td><b>Seller: </b></td>
                            <td>{{ l.seller.name }} </td>
                        </tr>
                        <tr> 
                            <td><b>Price: </b></td>
                            <td> ${{ l.price }} </td>
                        </tr>
                        <tr> 
                            <td><b>Amount Available: </b></td>
                            <td>{{ l.amount }} </td>
                        </tr>
                        <tr>
                            <td> 
                                <br>
                                <form action="/add_cart" >
                                    <input type="hidden" value={{l.id}} name="listing_id">
                                    <label> Add Amount</label>
                                    <input type="number" name="amount" min=1 />
                                    <br />
                                    <br />
                                    <input type="submit" value="Add to Cart" />
                               </form> 
                            </td>
                        </tr>
                    </table>
                </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>

<div class="product-reviews">
    <h2> Add Review </h2>
        <form action="/add_review" >
           <input type="hidden" value={{ items.id }} name="item_id">
           <br />
           <label> Review of {{ items.name|truncate(50) }}</label><br />
           <input type="text" name="text" />
           <br />
           <br />
        
           <label>Item Rating</label>
           <input type="number" name="item_rating" min=1 max=5 />
           <br />
           <br />
        
           <label>Seller (optional)</label>
           <select name="seller_id" id="seller_id">
             <option value = 'NONE' > None </option>
              {% for l in sellers %}
              <option value = {{l.seller_id}} > {{ l.seller.email }} </option>
              {% endfor %}
            </select>
           <br />
           <br />
        
           <label>Seller Rating (optional)</label>
           <input type="number" name="seller_rating" min=1 max=5 />
           <br />
           <br />
        
          <input type="submit" />
        </form>
</div>

<div class = "product-reviews">
  
    <table>
        <tbody>
            <tr style = "text-align:  center;">
                <h2> Reviews </h2>   
            </tr>
            {% for r in reviews %} 
            <tr style = "text-align:  center;">
                <td>
                    <table class = "inner-table-review">
                        <tr> 
                            <td class = "itr"> <h3> {{ r.item_rating }} out of 5 Stars</h3> </td>
                        </tr>
                        <tr> 
                            <td class = "itr"> <p> Reviewed by {{ r.user.name }} on {{ r.date.strftime("%b %d, %Y") }} </p> </td>
                        </tr>
                        <tr> 
                            <td class = "itr"> <p> {{ r.text }} </p> </td>
                        </tr>
                    </table>   
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}