{% extends 'base.html' %}

{% block body %}
<html>
  <head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/main.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Please login</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Email" name="username" value="{{
          request.form.username }}">
        <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
        <input class="btn btn-default" type="submit" value="Login" style="background-color:limegreen;">
        <a href = "/signup"> <input class="btn btn-default" type='button' value="Sign Up"></a>
        <a href = "/forgotpassword"> <input class="btn btn-default" type='button' value="Forgot Password"></a>
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for msg in messages %}
          <p style="color:red">{{msg}}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    </div>
  </body>
</html>
{% endblock %}



 <!-- THIS WAS EXPIRAMENTL CODE THAT I MAY REFERENCE LATER  -->
<!-- <form action="action_page.php" method="post">
    <div class="imgcontainer">
      <img src="img/logo1.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form> -->
