{% extends 'base.html' %}

{% block head %}
<title>My Orders</title>
{% endblock %}

{% block body %}
<h3>Order History</h3>
<table>
    <thead>
        <head>Item Id</head>
        <head>Delivered</head>
        <head>Quantity</head>
    </thead>
    <tbody>
    {% for item in items %}
        {% if item.delivered %}
            <tr>
                <td>{{ item.name }}</td>
                <td>delivered</td>
                <td>{{ item.amount }}</td>
            </tr>
        {% else %}
            <tr>
                <td>{{ item.name }}</td>
                <td>in progress</td>
                <td>{{ item.amount }}</td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}