{% extends 'base.html' %}

{% block body %}
<h1>Seller</h1>

<h2>Your Current Listings</h2>
<table>
    <thead>

      <th>Item</th>
      <th>Price</th>
      <th>Amount</th>
      <th>Warehouse</th>
    </thead>
    <tbody>
    {% for l in listings %}
      <tr>
        <td> {{ l.item.name }}</td>
        <td> ${{ l.price }}</td>
        <td> {{ l.amount }}</td>
        <td> {{ l.warehouse.id }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

<h2>Add a Listing</h2>
<form action="/add_listing" >
     <select name="item_id" id="item_id">
        {% for item in items %}
        <option value = {{ item.id }} > {{ item.name }} </option>
        {% endfor %}
      </select>
      <select name="warehouse_id" id="warehouse_id">
         {% for wh in warehouses %}
         <option value = {{ wh.id }} > {{ wh.id }} </option>
         {% endfor %}
       </select>
      <br />
      <br />
      <label>Unit Price</label>
      <input type="number" name="price" min=1 step=0.01 />
      <br />
      <br />
      <label>Amount</label>
      <input type="number" name="amount" min=1 />
      <br />
      <br />
     <input type="submit" />
   </form>





{% endblock %}
