{% extends 'base.html' %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col">

            <h1>Sign up</h1>
            <hr>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                        <p style="color: red;">{{msg}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
      
            {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}
          {% endif %}
            <form action="/signup" method="POST">

                <div class="form-group">
                    <label>Email</label>
                    <input required type="text" class="form-control" id="email" name="email" placeholder="Enter your email" value="{{ request.form['email'] }}">
                </div>

                <div class="form-group">
                    <label>Confirm your email</label>
                    <input required type="text" class="form-control" id="confirm_email" name="confirm_email" placeholder="Confirm your email", value="{{ request.form['confirm_email'] }}">
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input required type="password" class="form-control" id="password" name="password" placeholder="Create a password">
                </div>

                <div class="form-group">
                    <label>Confirm your password</label>
                    <input required type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm your password" >
                </div>


                <div class="form-group">
                    <label>Name</label>
                    <input required type="text" class="form-control" id="name" name="name" placeholder="Enter your name" value="{{ request.form['name'] }}">
                </div>

                <div class="form-group">
                    <label>Street</label>
                    <input required type="text" class="form-control" id="street" name="street" placeholder="Input street address" value="{{ request.form['street'] }}">
                </div>

                <div class="form-group">
                    <label>City</label>
                    <input required type="text" class="form-control" id="city" name="city" placeholder="Input city" value="{{ request.form['city'] }}">
                </div>

                <div class="form-group">
                    <label>Zip code</label>
                    <input required type="number" class="form-control" id="zip" name="zip" placeholder="Input zipcode" value="{{ request.form['zip'] }}">
                </div>

                <div class="form-group">
                    <label for="state" value ='' disabled selected>Select state:</label>
                    <select required class="form-control" id="state" name='state'>
                        <option value="" disabled selected hidden>Please Choose...</option>
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">District Of Columbia</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Seller Account</label>
                    <input type="checkbox" class="form-control" id="userTypeSeller" name="userTypeSeller" value="isSeller">
                </div>

                <button type="submit" class="btn btn-primary">Sign up</button>

                {% if feedback %}
                <p class="text-danger float-right">{{ feedback }}</p>
                {% endif %}

            </form>
        </div>
    </div>
</div>
{% endblock %}