{% extends 'base.html' %}

{% block head %}
<title>Mini Amazon</title>
{% endblock %}

{% block body %}
<h1>Testing Users Functionality</h1>
<h3>Users</h3>
<table>
  <thead>
    <th>id</th>
    <th>email</th>
    <th>name</th>
    <th>type</th>
    <th>password</th>
    <th>balance</th>
  </thead>
  <tbody>
  {% for user in users %}
    <tr>
      <td> {{ user.id }}</td>
      <td> {{ user.email }}</td>
      <td> {{ user.name }}</td>
      <td> {{ user.type }}</td>
      <td> {{ user.password }}</td>
      <td> $ {{ user.balance }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<br /><br />

<h2>Add a User<h2>
<form action="/add_user" >
  <label>User Name</label><br />
  <input type="text" name="name" />
  <br />
  <br />

  <label>Email</label><br />
  <input type="text" name="email" />
  <br/>
  <br />

  <label>Password</label><br />
  <input type="text" name="password" />
  <br />
  <br />

  <label>Type</label><br />
  <select name="type" id="type">
    <option value = "User">Normal User</option>
    <option value = "Seller">Seller</option>
    <option value = "Manager">Warehouse Manager</option>
  </select>
  <br />
  <br />

  <label>Address</label><br/>
  <input type="text" name="street" placeholder = "Street"/>
  <input type="text" name="city" placeholder = "City"/>
  <input type="number" name="zip" placeholder = "Zip"/>
  <input type="text" name="state" placeholder = "State (NC)"/>
  <br />
  <br />

  <input type="submit" />
</form>

<h1>Testing Warehouses Functionality</h1>
<h3>Warehouses</h3>
<table>
  <thead>
    <th>id</th>
    <th>Address</th>
    <th>Capacity</th>
  </thead>
  <tbody>
  {% for house in warehouses %}
    <tr>
      <td> {{ house.id }}</td>
      <td>{{ house.street }} {{ house.city }} {{ house.state }} {{ house.zip }}</td>
      <td> {{ house.capacity }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<br /><br />

<h2>New Category<h2>
<form action="/new_house" >
  <label>Address</label>
  <input type="text" name="street" placeholder = "Street"/>
  <input type="text" name="city" placeholder = "City"/>
  <input type="number" name="zip" placeholder = "Zip"/>
  <input type="text" name="state" placeholder = "State (NC)"/>
  <br />
  <br />
  <label>Capacity</label>
  <input type="number" name="capacity" />
  <br />
  <input type="submit" />
</form>


<h1>Testing Items/Categories Functionality</h1>
<h3>Items</h3>
<table>
  <thead>
    <th>Name</th>
    <th>Brand</th>
    <th>Color</th>
    <th>Size</th>
  </thead>
  <tbody>
  {% for item in items %}
    <tr>
      <td> {{ item.name }}</td>
      <td> {{ item.brand }}</td>
      <td> {{ item.color }}</td>
      <td> {{ item.size }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<br /><br />

<h3>InCats</h3>
<table>
  <thead>
    <th>Item</th>
    <th>Category</th>
  </thead>
  <tbody>
  {% for ic in incats %}
    <tr>
      <td> {{ ic.item.name }}</td>
      <td> {{ ic.cat.name }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<br /><br />

<h2>Delete Item<h2>
<form action="/delete_item" >
  <select name="item_id" id="item_id">
    {% for item in items %}
    <option value = {{ item.id }} > {{ item.name }} </option>
    {% endfor %}
  </select>
  <input type="submit" />
</form>

<h2>New Category<h2>
<form action="/new_cat" >
  <input type="text" name="name" />
  <input type="submit" />
</form>

<h2>Delete Category<h2>
<form action="/delete_cat" >
 <select name="cat_id" id="cat_id">
    {% for cat in cats %}
    <option value = {{ cat.id }} > {{ cat.name }} </option>
    {% endfor %}
  </select>
  <input type="submit" />
</form>

{% endblock %}
